@font-face{
  font-family: 'Montserrat';
  src: url(/styles/fonts/Montserrat/static/Montserrat-Regular.ttf); 
}
@font-face{
  font-family: 'Montserrat_Bold';
  src: url(/styles/fonts/Montserrat/static/Montserrat-Bold.ttf); 
}
@font-face{
  font-family: 'Roboto_Light';
  src: url(/styles/fonts/Roboto/Roboto-Light.ttf); 
}
